
* {
    padding: 0;
    margin: 0;
}


#banner{
    background: url('../img/bg-banner.jpg') no-repeat fixed;
    background-size: cover;
    min-height: 670px;
    position: relative;
}
.bg-color{
    background-color: RGBA(13, 70, 83, 0.78);
    min-height: 670px;
}
.banner-info{
    padding-top: 190px;
}

.logo   {
    padding-top: 10px;
}

.logo img{
    display: inline-block;
    height: 50px;
}

.signin {
    margin-top: 20px;
    margin-left: 190px;
}

.form    {
    background: rgba(45,34,136,0.38);
    color: #ffffff;
    padding: 40px;
    margin-top: 50px;
    padding-bottom: 60px;
    box-shadow: 10px 10px 5px rgba(6,1,1,0.43);
}

footer  {
    color: #f7f7f7;
    font-family: "Viner Hand ITC";
    font-weight: bold;
    margin-top: 90px;
}